
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# embeddings 
/summary/vectorization/glove.6B.50d.txt

#venv
/capstone_venv

# images output
/static/image_output/*